<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559077318966-djd8ts38cde5a8ctuofsm6a5b3c3hufs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559077318966-djd8ts38cde5a8ctuofsm6a5b3c3hufs</string>
	<key>API_KEY</key>
	<string>AIzaSyAJMN-kf_aZLePydGILp0sWsodanY7si5I</string>
	<key>GCM_SENDER_ID</key>
	<string>559077318966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clarkecodes.covid19Tracker</string>
	<key>PROJECT_ID</key>
	<string>covid-271502</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-271502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559077318966:ios:06389aa773611f01cb5397</string>
	<key>DATABASE_URL</key>
	<string>https://covid-271502.firebaseio.com</string>
</dict>
</plist>